USE [LiquidacionSueldos]
GO
/****** Object:  Table [dbo].[Concepto]    Script Date: 4/5/2023 19:55:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Concepto](
	[conId] [int] IDENTITY(1,1) NOT NULL,
	[conCodigo] [varchar](3) NULL,
	[escId] [int] NULL,
	[conNombre] [varchar](50) NULL,
	[conVisible] [tinyint] NULL,
	[conBonificacionDescuento] [tinyint] NULL,
	[conRemunerativoNoRemunerativo] [tinyint] NULL,
	[conTipoCalculo] [varchar](50) NULL,
	[conValor] [numeric](18, 2) NULL,
	[conDependeCodigoCargo] [int] NULL,
	[conDescuentoTipo] [int] NULL,
	[conPorDefecto] [tinyint] NULL,
	[conPermanente] [tinyint] NULL,
	[conFormula] [varchar](50) NULL,
	[conCantidadMaxima] [int] NULL,
	[conIncluyeEnRentasGenerales] [tinyint] NULL,
	[conMostrarEnReciboSueldo] [tinyint] NULL,
	[conOrigenFondo] [tinyint] NULL,
	[conEsAcumulador] [tinyint] NULL,
	[conActivo] [tinyint] NULL,
	[usuIdCreacion] [int] NULL,
	[usuIdUltimaModificacion] [int] NULL,
	[conFechaHoraCreacion] [datetime] NULL,
	[conFechaHoraUltimaModificacion] [datetime] NULL,
 CONSTRAINT [PK_Conceptos] PRIMARY KEY CLUSTERED 
(
	[conId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Concepto] ON 

GO
SET IDENTITY_INSERT [dbo].[Concepto] OFF
