USE [LiquidacionSueldos]
GO
/****** Object:  Table [dbo].[LugarPago]    Script Date: 21/11/2023 20:03:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LugarPago](
	[lpaId] [int] IDENTITY(1,1) NOT NULL,
	[lpaCodigo] [varchar](50) NOT NULL,
	[lpaNombre] [varchar](50) NULL,
	[jurCodigo] [int] NULL,
	[escalafon] [varchar](6) NULL,
	[lpaActivo] [tinyint] NULL,
	[lpaUsuIdCreacion] [int] NULL,
	[lpaUsuIdUltimaModificacion] [int] NULL,
	[lpaFechaHoraCreacion] [date] NULL,
	[lpaFechaHoraUltimaModificacion] [date] NULL,
 CONSTRAINT [PK_LpaCodigo] PRIMARY KEY CLUSTERED 
(
	[lpaCodigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[LugarPago] ON 

INSERT [dbo].[LugarPago] ([lpaId], [lpaCodigo], [lpaNombre], [jurCodigo], [escalafon], [lpaActivo], [lpaUsuIdCreacion], [lpaUsuIdUltimaModificacion], [lpaFechaHoraCreacion], [lpaFechaHoraUltimaModificacion]) VALUES (755, N'01011', N'SECRET.GRAL.DE LA GOBERNACION', 20, N'SAJZ', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[LugarPago] ([lpaId], [lpaCodigo], [lpaNombre], [jurCodigo], [escalafon], [lpaActivo], [lpaUsuIdCreacion], [lpaUsuIdUltimaModificacion], [lpaFechaHoraCreacion], [lpaFechaHoraUltimaModificacion]) VALUES (1, N'01026', N'UNIDAD EJECUTORA PROVINCIAL   ', 0, N'      ', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[LugarPago] ([lpaId], [lpaCodigo], [lpaNombre], [jurCodigo], [escalafon], [lpaActivo], [lpaUsuIdCreacion], [lpaUsuIdUltimaModificacion], [lpaFechaHoraCreacion], [lpaFechaHoraUltimaModificacion]) VALUES (2, N'01034', N'DIRECCION PROVINCIAL ELECTORAL', 20, N'SA    ', NULL, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[LugarPago] OFF
