DROP TABLE #agentes_filtrados

CREATE TABLE #agentes_filtrados (
	-- Agente
	ageId			int,
	numeroControl	varchar(255),
	cuil			varchar(255),
	nopres			varchar(255),
    PRES			numeric (18,2),	
	AF				numeric (18,2), 

	-- No remunerativo
	haberSinAporte  varchar(255),
	NoRem 			numeric (18,2),
	NR				numeric (18,2), 
	IMP_746			numeric (18,2), 
	PX_746			numeric (18,2), 
	NR_1 			numeric (18,2), 
	NR_DEPURADO		numeric (18,2), 
	IMP_522			numeric (18,2),

	-- Remunerativo
	haberConAporte  varchar(255),
	Rem				numeric (18,2),
	R				numeric (18,2), 
	IMP_601			numeric (18,2), 	
	IMP_601_1		numeric (18,2), 	
	PX_601			numeric (18,2), 
	R_1 			numeric (18,2), 	
	R_DEPURADO		numeric (18,2), 
	IMP_521			numeric (18,2)
)

----------------------->>>>> FILTROS <<<<<-----------------------

-- drop table #t1

declare @mesanio varchar(50) 
select @mesanio = '06/22'
 
select t1.NuevoAgeId1, t1.NroCOntrol, t1.Cuil, t1.[HaberS/aporte] AS haberSinAporte,
T1.[HaberC/aporte] as  haberConAporte,
	t1.[Nopres/RiesgoVida] AS NOPRES,
	ISNULL((select cteImporte from ConceptoTemporal b2
	where t1.NuevoAgeId1 = b2.ageId
	and cteCodigoConcepto = '199'),0) AS PRES,     
-- REMUNERATIVO AUTORIZADO
(SELECT 
	SUM (cteImporte) 
from 
	ConceptoTemporal b1 
	inner join ConceptoExtensionDocente b2 on b1.cteCodigoConcepto = b2.conCodigo
	inner join Concepto b3 on b2.conCodigo = b3.conCodigo
 where 
	b3.conRemunerativoNoRemunerativo = '1'
	and b1.ageId = t1.NuevoAgeId1) as REM,
-- NO REMUNERATIVO
(SELECT 
	SUM (cteImporte) 
from 
	ConceptoTemporal b1 
	inner join ConceptoExtensionDocente b2 on b1.cteCodigoConcepto = b2.conCodigo
	inner join Concepto b3 on b2.conCodigo = b3.conCodigo
 where 
	b3.conRemunerativoNoRemunerativo = '2'
 and (b1.cteCodigoConcepto < '108' OR b1.cteCodigoConcepto > '118')
 and b1.cteCodigoConcepto not in ('137', '202', '208')
 and b1.ageId = t1.NuevoAgeId1) as NR,
-- ASIGNACIONES FAMILIARES
 ISNULL((SELECT 
	SUM (b1.cteImporte) 
from 
	ConceptoTemporal b1 
	inner join ConceptoExtensionDocente b2 on b1.cteCodigoConcepto = b2.conCodigo
	inner join Concepto b3 on b2.conCodigo = b3.conCodigo
where 
	 b1.ageId = t1.NuevoAgeId1
and	b3.conRemunerativoNoRemunerativo = '2'
and ((b1.cteCodigoConcepto >= '108' AND b1.cteCodigoConcepto <= '118')
OR b1.cteCodigoConcepto in ('137', '202', '208') )),0) AS AF,
ISNULL((select cteImporte from ConceptoTemporal b2
	where t1.NuevoAgeId1 = b2.ageId
	and cteCodigoConcepto = '746'),0) AS IMP_746,
ISNULL((select cteImporte from ConceptoTemporal b2
where t1.NuevoAgeId1 = b2.ageId
and cteCodigoConcepto = '601'),0) AS IMP_601
into 
	#t1
from 
	PruebasAge t1
where 
	t1.MesAnioLiq = @mesanio
-- Filtro escuelas habilitadas
and exists (
	select CUISE from EscuelaExtensionHoraria_Excel	 t2
	WHERE t1.Escuela = t2.CUISE
)
-- Filtro cargos habilitados
and exists (
	select * from CargosExtensionDocente	 t3
	WHERE t1.Agru = t3.agrupamiento
	and t1.tramo = t3.tramo
	and t1.Apertura = t3.apertura
)
and t1.SituRev != 'A' -- FILTRO ADSCRIPTOS
and t1.SituRev != 'V' -- FILTRO VACANTES (ES LO MISMO QUE LEGAJO '9999999’)
and t1.Legajo != '9999999'
and t1.SituRev != 'N' -- FILTRO NACION 
and t1.SituRev != 'R' -- FILTRO RETENIDO 
and t1.Liquido != 0 -- FILTRO LIQUIDO
and t1.TotalHaberes != 0 -- FILTRO tot.hab.rem
and t1.TotalSinCargosAlHaber != 0 -- FILTRO tot.hab.no rem
-- FILTRO que tengan codigo 002
and exists ( 	 
	select * from ConceptoTemporal b2
	where t1.NuevoAgeId1 = b2.ageId
	and cteCodigoConcepto = '002'
)
and not exists ( -- FILTRO 1 solo item
	select * from PruebasAge b1
	where b1.CantItemsOcupados = 1
	and MesAnioLiq = @mesanio
	and b1.NuevoAgeId1 = t1.NuevoAgeId1
	and exists ( -- FILTRO que tengan solo codigo 595
	select * from ConceptoTemporal b2
	where b1.NuevoAgeId1 = b2.ageId
	and cteCodigoConcepto = '595')
)
-- FILTRO Registros con cero en días trab y líquido, e (importe cod.601 = tot.desctos)
and not exists (
	select * from PruebasAge b1
	where 
		b1.DiasTrabajados = 0
	and b1.Liquido = 0
	and MesAnioLiq = @mesanio
	and b1.NuevoAgeId1 = t1.NuevoAgeId1
	and b1.TotalDescuentos = (
					select cteImporte from ConceptoTemporal b2
					where b1.NuevoAgeId1 = b2.ageId
					and cteCodigoConcepto = '601'
					)
)
-- FILTRO ARCHIVO NOVEDADES PARA DESCONTAR (FILTRO POR NRO CONTROL Y DIAS)
and not exists (
	select * from NovedadesExtensionDocente p2
	where t1.NroCOntrol = p2.nrocontrol
	and p2.dias >= 30
)

-- drop table #t1

-- DELETE from #agentes_filtrados 

INSERT INTO  
	#agentes_filtrados 
	(ageId,		 numeroControl, cuil, haberSinAporte, haberConAporte, nopres, PRES, REM, NR, AF, IMP_746, IMP_601)
select 
	NuevoAgeId1, NroCOntrol,	cuil, haberSinAporte, haberConAporte,nopres, PRES, REM, NR, AF, IMP_746, IMP_601
from #t1


--select * from #agentes_filtrados
-- 1626

----------------------->>>>> FIN - FILTROS <<<<<-----------------------

----------------------->>>>> CALCULOS <<<<<-----------------------
-- CALCULO NR_1 (NR CON FILTRO PRESENTISMO) 
-- CALCULO NoRem

UPDATE 
	#agentes_filtrados
SET 
	NoRem = haberSinAporte - (AF+PRES),
	NR_1 = (CASE WHEN NOPRES ='1' THEN NR - PRES ELSE NR END) -- CON FILTRO PRESENTISMO

-- SELECT * FROM #agentes_filtrados

----------------------->>>>> CALCULOS <<<<<-----------------------
-- CALCULO PX_746 (PORCENTAJE A DESCONTAR NOREM)
-- CALCULO NR_DEPURADO (NR FINAL PARA EL CALCULO DEL 25%)

UPDATE 
	#agentes_filtrados
SET 
	PX_746		= (CASE WHEN IMP_746 != 0 -- SI EXISTE 746 
					AND IMP_746 < NoRem -- ES MENOR QUE NoRem
					THEN  IMP_746 / NoRem
					ELSE 0 -- = O MAYOR
					END)

-- select * from #agentes_filtrados

UPDATE 
	#agentes_filtrados
SET 
	NR_DEPURADO = (CASE WHEN IMP_746 != 0 -- SI EXISTE 746 
					AND IMP_746 < NoRem -- ES MENOR QUE NoRem
					THEN NR_1 - (NR_1 * PX_746)
					ELSE 0 -- = O MAYOR
					END)

-- select * from #agentes_filtrados

----------------------->>>>> CALCULOS <<<<<-----------------------

------>> INICIO CALCULO REMUNERATIVO <<--------

-- CALCULO: i.cod601 (filtro presentismo)

-- CALCULO :
-- Rem
-- R_1


UPDATE 
	#agentes_filtrados
SET 
	Rem = haberConAporte ,
	IMP_601_1 = (CASE WHEN NOPRES ='1' THEN IMP_601 - PRES ELSE IMP_601 END) -- CON FILTRO PRESENTISMO


UPDATE 
	#agentes_filtrados
SET 
	PX_601		= (CASE WHEN IMP_601 != 0 -- SI EXISTE 601 
					AND IMP_601_1 < Rem -- ES MENOR QUE Rem
					THEN  IMP_601_1 / Rem
					ELSE 0 -- = O MAYOR
					END)

-- select * from #agentes_filtrados

UPDATE 
	#agentes_filtrados
SET 
	R_DEPURADO = (CASE WHEN IMP_601_1 != 0 -- SI EXISTE 601 
					AND IMP_601_1 < Rem -- ES MENOR QUE Rem
					THEN R_1 - (R_1 * PX_601)
					ELSE 0 -- = O MAYOR
					END)

-- select * from #agentes_filtrados

----------------  C) ---------------- 

UPDATE 
	#agentes_filtrados
SET 
	IMP_521 = (CASE WHEN R_DEPURADO > 0 
					THEN R_DEPURADO * 0.25
					ELSE 0 -- = O MAYOR
					END)



---------------- CODIGO 746 ---------------- 

-- puede haber descuentos por codigo que descuenten del haber sin aporte y del haber con aporte
-- BRUTO = Haber c/aporte (remunerativo) + haber s/aportes (no remunerativo)
-- LIQUIDO = BRUTO - Descuentos de ley 

-- menor
select top 100 Nombre, cteCodigoConcepto, 
(select conNombre from Concepto where cteCodigoConcepto = conCodigo),  
(select cteImporte from ConceptoTemporal where ageId = t1.NuevoAgeId1
and cteCodigoConcepto = '199' and MesAnioLiq = '06/22') as "Presentismo",
cteImporte as "746", [HaberS/aporte], cteImporte / [HaberS/aporte] as PX,  
t1.[HaberS/aporte] * (1- (cteImporte / [HaberS/aporte])) as NR,
t1.[HaberS/aporte] * (1- (cteImporte / [HaberS/aporte])) - ((select cteImporte from ConceptoTemporal where ageId = t1.NuevoAgeId1
and cteCodigoConcepto = '199' and MesAnioLiq = '06/22') * (1- (cteImporte / [HaberS/aporte]))  ) as NR2
from PruebasAge t1
inner join ConceptoTemporal t2
on t1.NuevoAgeId1 = t2.ageId
where MesAnioLiq = '06/22'
and t2.cteCodigoConcepto = '746'
and cteImporte < t1.[HaberS/aporte]  
and t1.[Nopres/RiesgoVida] = '1'


-- menor
select top 100 Nombre, cteCodigoConcepto, 
(select conNombre from Concepto where cteCodigoConcepto = conCodigo),  
(select cteImporte from ConceptoTemporal where ageId = t1.NuevoAgeId1
and cteCodigoConcepto = '199' and MesAnioLiq = '06/22') as "Presentismo",
cteImporte as "746", [HaberS/aporte], cteImporte / [HaberS/aporte] as PX,  
t1.[HaberS/aporte] * (1- (cteImporte / [HaberS/aporte])) as NR,
t1.[HaberS/aporte] * (1- (cteImporte / [HaberS/aporte])) - ((select cteImporte from ConceptoTemporal where ageId = t1.NuevoAgeId1
and cteCodigoConcepto = '199' and MesAnioLiq = '06/22') ) as NR2
from PruebasAge t1
inner join ConceptoTemporal t2
on t1.NuevoAgeId1 = t2.ageId
where MesAnioLiq = '06/22'
and t2.cteCodigoConcepto = '746'
and cteImporte < t1.[HaberS/aporte]  
and t1.[Nopres/RiesgoVida] = '1'



-- mayor o igual (se descuenta todo el haber s/ aportes)
-- leyenda codigo 746 >= haber sin aportes 
select top 100 Nombre, cteCodigoConcepto, 
(select conNombre from Concepto where cteCodigoConcepto = conCodigo),  
cteImporte , [HaberS/aporte], cteImporte / [HaberS/aporte] as PX,  
t1.[HaberS/aporte] * (1- (cteImporte / [HaberS/aporte])) as NR
from PruebasAge t1
inner join ConceptoTemporal t2
on t1.NuevoAgeId1 = t2.ageId
where MesAnioLiq = '06/22'
and t2.cteCodigoConcepto = '746'
and cteImporte >= t1.[HaberS/aporte]  


---------------- CODIGO 601 ---------------- 

-- puede haber descuentos por codigo que descuenten del haber sin aporte y del haber con aporte
-- BRUTO = Haber c/aporte (remunerativo) + haber s/aportes (no remunerativo)
-- LIQUIDO = BRUTO - Descuentos de ley 

-- menor
select top 100 Nombre, cteCodigoConcepto, 
(select conNombre from Concepto where cteCodigoConcepto = conCodigo),  
cteImporte , [HaberS/aporte], cteImporte / [HaberS/aporte] as PX,  
t1.[HaberS/aporte] * (1- (cteImporte / [HaberS/aporte])) as NR
from PruebasAge t1
inner join ConceptoTemporal t2
on t1.NuevoAgeId1 = t2.ageId
where MesAnioLiq = '06/22'
and t2.cteCodigoConcepto = '601'
and cteImporte < t1.[HaberS/aporte]  


-- mayor o igual (se descuenta todo el haber s/ aportes)
-- leyenda codigo 746 >= haber sin aportes 
select top 100 Nombre, cteCodigoConcepto, 
(select conNombre from Concepto where cteCodigoConcepto = conCodigo),  
cteImporte , [HaberS/aporte], cteImporte / [HaberS/aporte] as PX,  
t1.[HaberS/aporte] * (1- (cteImporte / [HaberS/aporte])) as NR
from PruebasAge t1
inner join ConceptoTemporal t2
on t1.NuevoAgeId1 = t2.ageId
where MesAnioLiq = '06/22'
and t2.cteCodigoConcepto = '601'
and cteImporte >= t1.[HaberS/aporte]  
