USE [LiquidacionSueldos]
GO
/****** Object:  Table [dbo].[DetallePagoEventual_13.7.22_servidor]    Script Date: 13/07/2022 19:33:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DetallePagoEventual_13.7.22_servidor](
	[dpeId] [int] IDENTITY(1,1) NOT NULL,
	[pevId] [int] NULL,
	[dpeMes] [int] NULL,
	[dpeAnio] [int] NULL,
	[dpeConcepto] [varchar](50) NULL,
 CONSTRAINT [PK_DetallePagoEventual_13.7.22_servidor] PRIMARY KEY CLUSTERED 
(
	[dpeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[DetallePagoEventual_13.7.22_servidor] ON 

INSERT [dbo].[DetallePagoEventual_13.7.22_servidor] ([dpeId], [pevId], [dpeMes], [dpeAnio], [dpeConcepto]) VALUES (1, 1, 11, 2017, NULL)
INSERT [dbo].[DetallePagoEventual_13.7.22_servidor] ([dpeId], [pevId], [dpeMes], [dpeAnio], [dpeConcepto]) VALUES (2, 4, 11, 2017, NULL)
INSERT [dbo].[DetallePagoEventual_13.7.22_servidor] ([dpeId], [pevId], [dpeMes], [dpeAnio], [dpeConcepto]) VALUES (3, 5, 11, 2017, NULL)
GO
SET IDENTITY_INSERT [dbo].[DetallePagoEventual_13.7.22_servidor] OFF
