USE [LiquidacionSueldos]
GO
/****** Object:  Table [dbo].[AgentesExtensionDocente_Cat1y2]    Script Date: 15/11/2022 20:40:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AgentesExtensionDocente_Cat1y2](
	[CAT] [float] NULL,
	[CUISE] [float] NULL,
	[Organizaciones] [nvarchar](255) NULL,
	[CUPOF] [nvarchar](255) NULL,
	[Sit#Rev#] [nvarchar](255) NULL,
	[DNI] [float] NULL,
	[Docente] [nvarchar](255) NULL,
	[CodCar] [float] NULL,
	[Cargo Salarial] [nvarchar](255) NULL,
	[Horas] [float] NULL,
	[Fecha Lic#] [datetime] NULL,
	[Licencia] [nvarchar](255) NULL,
	[Sit#Laboral] [nvarchar](255) NULL,
	[Sit#Extraordinaria] [nvarchar](255) NULL,
	[Control] [float] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AgentesExtensionDocente_PrimariasNormales]    Script Date: 15/11/2022 20:40:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AgentesExtensionDocente_PrimariasNormales](
	[CAT] [float] NULL,
	[CUISE] [float] NULL,
	[Organizaciones] [nvarchar](255) NULL,
	[CUPOF] [nvarchar](255) NULL,
	[Sit#Rev#] [nvarchar](255) NULL,
	[DNI] [float] NULL,
	[Docente] [nvarchar](255) NULL,
	[CodCar] [float] NULL,
	[Cargo Salarial] [nvarchar](255) NULL,
	[Horas] [float] NULL,
	[Fecha Lic#] [datetime] NULL,
	[Licencia] [nvarchar](255) NULL,
	[Sit#Laboral] [nvarchar](255) NULL,
	[Sit#Extraordinaria] [nvarchar](255) NULL,
	[Control] [nvarchar](255) NULL
) ON [PRIMARY]

GO
INSERT [dbo].[AgentesExtensionDocente_Cat1y2] ([CAT], [CUISE], [Organizaciones], [CUPOF], [Sit#Rev#], [DNI], [Docente], [CodCar], [Cargo Salarial], [Horas], [Fecha Lic#], [Licencia], [Sit#Laboral], [Sit#Extraordinaria], [Control]) VALUES (1, 10273, N'ESCUELA Nº 1027 ANGEL ALDERETE', N'10273-E1Y2-EGB-6-D-MDG-CONTEGB2-T-9/9/2011-PP-C', N'T', 12650384, N'VILLALBA ELEUTERIO', 60098, N'MAESTRO DE GRADO', 0, CAST(N'2022-01-01 00:00:00.000' AS DateTime), N'Suspension Por Sumario Con Goce de Haberes', N'LC', N'NR', 38769094)
INSERT [dbo].[AgentesExtensionDocente_Cat1y2] ([CAT], [CUISE], [Organizaciones], [CUPOF], [Sit#Rev#], [DNI], [Docente], [CodCar], [Cargo Salarial], [Horas], [Fecha Lic#], [Licencia], [Sit#Laboral], [Sit#Extraordinaria], [Control]) VALUES (1, 10404, N'ESCUELA N° 1040 JOSE MIRALLES LOPEZ', N'10404-E1Y2-EGB-2-B-MG-CONEGB1-T-19/4/2007-PP-C', N'T', 30577822, N'PAZ RAUL SILVESTRE', 60098, N'MAESTRO DE GRADO', 0, CAST(N'2021-12-10 00:00:00.000' AS DateTime), N'27 REPRESENTACION POLITICA SIN GOCE DE HAB', N'LE', N'CP', 38903342)
INSERT [dbo].[AgentesExtensionDocente_Cat1y2] ([CAT], [CUISE], [Organizaciones], [CUPOF], [Sit#Rev#], [DNI], [Docente], [CodCar], [Cargo Salarial], [Horas], [Fecha Lic#], [Licencia], [Sit#Laboral], [Sit#Extraordinaria], [Control]) VALUES (1, 10621, N'ESCUELA N° 1062', N'10621-E1Y2-EGB-5-B-MG-CONTEGB2-T-30/1/2007-PP-C', N'T', 17960088, N'TARCHINI CLAUDIA AURELIA', 60098, N'MAESTRO DE GRADO', 0, CAST(N'2022-01-01 00:00:00.000' AS DateTime), N'AFECTACION RES.', N'LE', N'AF', NULL)
INSERT [dbo].[AgentesExtensionDocente_PrimariasNormales] ([CAT], [CUISE], [Organizaciones], [CUPOF], [Sit#Rev#], [DNI], [Docente], [CodCar], [Cargo Salarial], [Horas], [Fecha Lic#], [Licencia], [Sit#Laboral], [Sit#Extraordinaria], [Control]) VALUES (1, 80435, N'ESCUELA NORMAL SUPERIOR REPUBLICA DEL ECUADOR', N'80435-E1Y2-EGB-4-B-MG-CONTEGB2-T-1/9/2009-PP-C', N'T', 20738252, N'IBAÑEZ MARCELA DEL CARMEN', 60716, N'MAESTRO DE GRADO DEPTO.APLICACION ESCU', 0, CAST(N'2022-07-06 00:00:00.000' AS DateTime), N'33 MAYOR JERARQUIA', N'LE', N'MJ', N'NULL')
INSERT [dbo].[AgentesExtensionDocente_PrimariasNormales] ([CAT], [CUISE], [Organizaciones], [CUPOF], [Sit#Rev#], [DNI], [Docente], [CodCar], [Cargo Salarial], [Horas], [Fecha Lic#], [Licencia], [Sit#Laboral], [Sit#Extraordinaria], [Control]) VALUES (1, 80443, N'ESCUELA NORMAL SUPERIOR MANUEL BELGRANO', N'80443-E1Y2-EGB-1-A-MDG-NN-T-18/7/2005-PP-C', N'T', 22204195, N'COMAN ALEJANDRA AZUCENA', 60714, N'MAESTRO GRADO DEPTO.DE APLICACION 1RA.', 0, CAST(N'2013-05-07 00:00:00.000' AS DateTime), N'33 MAYOR REMUNERACION', N'LE', N'MJ', N'59080482')
INSERT [dbo].[AgentesExtensionDocente_PrimariasNormales] ([CAT], [CUISE], [Organizaciones], [CUPOF], [Sit#Rev#], [DNI], [Docente], [CodCar], [Cargo Salarial], [Horas], [Fecha Lic#], [Licencia], [Sit#Laboral], [Sit#Extraordinaria], [Control]) VALUES (1, 80443, N'ESCUELA NORMAL SUPERIOR MANUEL BELGRANO', N'80443-E1Y2-EGB-1-E-MDG-CONEGB1-T-18/7/2005-PP-C', N'I', 23428239, N'ORELLANA MIRIAM YOLANDA', 60716, N'MAESTRO DE GRADO DEPTO.APLICACION ESCU', 0, CAST(N'2010-10-21 00:00:00.000' AS DateTime), N'33 MAYOR JERARQUIA', N'LE', N'MJ', N'NULL')
