INSERT INTO LugarPago (lpaCodigo, lpaNombre, lpaFechaHoraCreacion) 
SELECT 
    SUBSTRING(t1.[columna 0], 1, 5), 
    SUBSTRING(t1.[columna 0], 6, 30),
	GETDATE()  
FROM [lugares-25-02] t1
WHERE NOT EXISTS (
    SELECT 1 FROM LugarPago 
    WHERE lpaCodigo = SUBSTRING(t1.[columna 0], 1, 5)
);



--select * from LugarPago
--where lpaFechaHoraCreacion >= '19/03/2025'