USE [LiquidacionSueldos]
GO
/****** Object:  Table [dbo].[DetallePagoEventual_test]    Script Date: 28/12/2022 19:44:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DetallePagoEventual_test](
	[dpeId] [int] IDENTITY(1,1) NOT NULL,
	[pevId] [int] NULL,
	[dpeMes] [int] NULL,
	[dpeAnio] [int] NULL,
	[dpeConcepto] [varchar](50) NULL,
 CONSTRAINT [PK_DetallePagoEventual_test] PRIMARY KEY CLUSTERED 
(
	[dpeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PagosEventuales_test]    Script Date: 28/12/2022 19:44:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PagosEventuales_test](
	[pevId] [int] IDENTITY(1,1) NOT NULL,
	[lpaId] [int] NULL,
	[ageApellidoNombre] [nvarchar](255) NULL,
	[ageDNI] [nvarchar](255) NULL,
	[ageCUIT] [nvarchar](255) NULL,
	[ageSexo] [nvarchar](255) NULL,
	[ageJurisdiccion] [varchar](3) NULL,
	[agePrograma] [varchar](3) NULL,
	[ageNroControl] [nvarchar](255) NULL,
	[pevLugarPagoCodigo] [varchar](50) NULL,
	[pevImporteTotal] [float] NULL,
	[pevFechaCarga] [date] NULL,
	[pevGenerado] [tinyint] NULL,
	[pevPagoAcumulado] [tinyint] NULL,
	[pevUtlimaVezGenerado] [datetime] NULL,
	[pevNroLote] [varchar](50) NULL,
	[base_datos] [varchar](50) NULL,
 CONSTRAINT [PK_PagosEventuales_test] PRIMARY KEY CLUSTERED 
(
	[pevId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[DetallePagoEventual_test] ON 

INSERT [dbo].[DetallePagoEventual_test] ([dpeId], [pevId], [dpeMes], [dpeAnio], [dpeConcepto]) VALUES (569, 569, 6, 2022, N'Bono aguinaldo 2022')
INSERT [dbo].[DetallePagoEventual_test] ([dpeId], [pevId], [dpeMes], [dpeAnio], [dpeConcepto]) VALUES (570, 570, 6, 2022, N'Bono aguinaldo 2022')
INSERT [dbo].[DetallePagoEventual_test] ([dpeId], [pevId], [dpeMes], [dpeAnio], [dpeConcepto]) VALUES (571, 571, 6, 2022, N'Bono aguinaldo 2022')
GO
SET IDENTITY_INSERT [dbo].[DetallePagoEventual_test] OFF
SET IDENTITY_INSERT [dbo].[PagosEventuales_test] ON 

INSERT [dbo].[PagosEventuales_test] ([pevId], [lpaId], [ageApellidoNombre], [ageDNI], [ageCUIT], [ageSexo], [ageJurisdiccion], [agePrograma], [ageNroControl], [pevLugarPagoCodigo], [pevImporteTotal], [pevFechaCarga], [pevGenerado], [pevPagoAcumulado], [pevUtlimaVezGenerado], [pevNroLote], [base_datos]) VALUES (569, NULL, N'JIMENEZ PAGANI, MARIA E. ', N'30443384', N'27304433847', N'M', N'12', N'14', N'43014101', N'43011', 25000, CAST(N'2022-06-30' AS Date), 1, 0, CAST(N'2022-06-30 20:15:10.813' AS DateTime), NULL, NULL)
INSERT [dbo].[PagosEventuales_test] ([pevId], [lpaId], [ageApellidoNombre], [ageDNI], [ageCUIT], [ageSexo], [ageJurisdiccion], [agePrograma], [ageNroControl], [pevLugarPagoCodigo], [pevImporteTotal], [pevFechaCarga], [pevGenerado], [pevPagoAcumulado], [pevUtlimaVezGenerado], [pevNroLote], [base_datos]) VALUES (570, NULL, N'URQUIZA LLANOS RICHARD F.', N'26570065', N'23265700659', N'V', N'12', N'14', N'43011425', N'43011', 25000, CAST(N'2022-06-30' AS Date), 1, 0, CAST(N'2022-06-30 20:15:10.813' AS DateTime), NULL, NULL)
INSERT [dbo].[PagosEventuales_test] ([pevId], [lpaId], [ageApellidoNombre], [ageDNI], [ageCUIT], [ageSexo], [ageJurisdiccion], [agePrograma], [ageNroControl], [pevLugarPagoCodigo], [pevImporteTotal], [pevFechaCarga], [pevGenerado], [pevPagoAcumulado], [pevUtlimaVezGenerado], [pevNroLote], [base_datos]) VALUES (571, NULL, N'CEJAS MARIA LUISA        ', N'12391791', N'27123917915', N'M', N'60', N'11', N'88007361', N'88013', 25000, CAST(N'2022-06-30' AS Date), 1, 0, CAST(N'2022-06-30 20:15:10.813' AS DateTime), NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[PagosEventuales_test] OFF
