USE [LiquidacionSueldos]
GO
/****** Object:  Table [dbo].[EscuelaExtensionDocente]    Script Date: 30/3/2023 09:18:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EscuelaExtensionDocente](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[CAT] [varchar](50) NULL,
	[CUISE] [varchar](5) NULL,
	[nombre] [nvarchar](255) NULL,
	[activo] [tinyint] NULL,
	[turno] [varchar](50) NULL,
	[localidad] [varchar](50) NULL,
	[departamento] [varchar](50) NULL,
	[codigo_unico] [varchar](50) NULL,
	[numero_escuela] [varchar](50) NULL,
	[fecha_alta] [datetime] NULL,
 CONSTRAINT [PK_EscuelaExtensionDocente] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[EscuelaExtensionDocente] ON 

INSERT [dbo].[EscuelaExtensionDocente] ([id], [CAT], [CUISE], [nombre], [activo], [turno], [localidad], [departamento], [codigo_unico], [numero_escuela], [fecha_alta]) VALUES (1, NULL, N'54', N'ESCUELA Nº 5 ELEMENTAL PEDRO LEON GALLO', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[EscuelaExtensionDocente] ([id], [CAT], [CUISE], [nombre], [activo], [turno], [localidad], [departamento], [codigo_unico], [numero_escuela], [fecha_alta]) VALUES (2, NULL, N'104', N'ESCUELA SUPERIOR  N° 10 PROVINCIA DE TUCUMAN', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[EscuelaExtensionDocente] ([id], [CAT], [CUISE], [nombre], [activo], [turno], [localidad], [departamento], [codigo_unico], [numero_escuela], [fecha_alta]) VALUES (3, NULL, N'151', N'ESCUELA Nº 15 ELEMENTAL JUAN D. LAVAISSE', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[EscuelaExtensionDocente] OFF
