USE [LiquidacionSueldos]
GO
/****** Object:  StoredProcedure [dbo].[Menu.ActivarInactivar]    Script Date: 24/10/2022 18:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Menu.ActivarInactivar]
(
@menId int
)

as

update Menu set menActivo = case when menActivo = 0 then 1 else 0 end where menId = @menId
GO
