USE [LiquidacionSueldos]
GO
/****** Object:  StoredProcedure [dbo].[Liquidacion.Eliminar]    Script Date: 24/10/2022 18:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Liquidacion.Eliminar]
	@MesAnioLiquidacion varchar(5)
AS 


delete
from ConceptoTemporal
where ConceptoTemporal.ageId in
(SELECT NuevoAgeId1 
from PruebasAge 
where MesAnioLiq=@MesAnioLiquidacion)

delete from PruebasAge
where MesAnioLiq=@MesAnioLiquidacion


GO
