USE [LiquidacionSueldos]
GO
/****** Object:  StoredProcedure [dbo].[Menu.Eliminar]    Script Date: 24/10/2022 18:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Menu.Eliminar]
(
@menId int
)

as
delete from Menu
where 1 = 1 
and Menu.menId = @menId
GO
