USE [LiquidacionSueldos]
GO
/****** Object:  StoredProcedure [dbo].[Agentes.InsertarAgenteRevision]    Script Date: 24/10/2022 18:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Agentes.InsertarAgenteRevision]
	@id int
AS 
INSERT INTO AgenteRevision (ageId) values (@id)
GO
