USE [LiquidacionSueldos]
GO
/****** Object:  StoredProcedure [dbo].[PerfilMenu.Eliminar]    Script Date: 24/10/2022 18:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[PerfilMenu.Eliminar]
(
@pmeId int
)

as
delete from PerfilMenu
where 1 = 1 
and PerfilMenu.pmeId = @pmeId
GO
