USE [LiquidacionSueldos]
GO
/****** Object:  StoredProcedure [dbo].[Liquidacion.ObtenerTodosSelect]    Script Date: 24/10/2022 18:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Liquidacion.ObtenerTodosSelect]
as

select liqId, liqDescripcion
from Liquidacion
where liqActivo = 1
order by liqId DESC

GO
