USE [LiquidacionSueldos]
GO
/****** Object:  StoredProcedure [dbo].[LugarPago.ObtenerTodos]    Script Date: 24/10/2022 18:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LugarPago.ObtenerTodos]
AS
BEGIN
select [lpaId],[lpaNombre], [lpaCodigo] from LugarPago
END

GO
