USE [LiquidacionSueldos]
GO
/****** Object:  StoredProcedure [dbo].[Usuario.CambiarClave]    Script Date: 24/10/2022 18:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[Usuario.CambiarClave]
(
@usuId int,
@usuClave varchar(5000)
)

as

update Usuario set usuClave = @usuClave where usuId = @usuId 

GO
