USE [LiquidacionSueldos]
GO
/****** Object:  StoredProcedure [dbo].[PagosEventuales.CambiarEstado]    Script Date: 24/10/2022 18:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PagosEventuales.CambiarEstado]
@fecha datetime 
AS
BEGIN
	update PagosEventuales set pevGenerado = 1, pevUtlimaVezGenerado = SYSDATETIME() where [pevFechaCarga] >= @fecha
END



GO
