USE [LiquidacionSueldos]
GO
/****** Object:  StoredProcedure [dbo].[Usuario.ActivarInactivar]    Script Date: 24/10/2022 18:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[Usuario.ActivarInactivar]
(@usuId int)
as

update Usuario set usuActivo = case when usuActivo = 1 then 0 else 1 end where usuId = @usuId

GO
