USE [LiquidacionSueldos]
GO
/****** Object:  StoredProcedure [dbo].[RecuperarClave.Eliminar]    Script Date: 24/10/2022 18:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[RecuperarClave.Eliminar]
(
@rclId int
)

as
delete from RecuperarClave
where 1 = 1 
and RecuperarClave.rclId = @rclId
GO
