USE [LiquidacionSueldos]
GO
/****** Object:  StoredProcedure [dbo].[OrganismoEscalafon.ObtenerIdPorCodigo]    Script Date: 27/10/2022 20:39:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[OrganismoEscalafon.ObtenerIdPorCodigo]
@orgId int,
@escId int 
AS
BEGIN
select oesId from OrganismoEscalafon where orgId  = @orgId and escId =  @escId
END


GO
