USE [LiquidacionSueldos]
GO
/****** Object:  Table [dbo].[agentes_extension_docente]    Script Date: 31/3/2023 18:26:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[agentes_extension_docente](
	[age_id] [int] NULL,
	[NroCOntrol] [varchar](50) NULL,
	[PlantaTipo] [varchar](50) NULL,
	[tipo_planta_OP] [varchar](50) NULL,
	[agrupamiento] [varchar](50) NULL,
	[tramo] [varchar](50) NULL,
	[apertura] [varchar](50) NULL,
	[cuil] [varchar](50) NULL,
	[LugarPago] [varchar](50) NULL,
	[Escuela] [varchar](50) NULL,
	[Juris] [varchar](50) NULL,
	[Prog] [varchar](50) NULL,
	[SubP] [varchar](50) NULL,
	[Actividad] [varchar](50) NULL,
	[fuente] [varchar](50) NULL,
	[dias_trabajados] [varchar](50) NULL,
	[haberSinAporte] [varchar](50) NULL,
	[haberConAporte] [varchar](50) NULL,
	[total_haberes] [varchar](50) NULL,
	[total_descuentos] [varchar](50) NULL,
	[total_liquido] [varchar](50) NULL,
	[AP_IOSEP] [numeric](18, 2) NULL,
	[AP_OSPLAD] [numeric](18, 2) NULL,
	[AP_ANSES] [numeric](18, 2) NULL,
	[C01] [varchar](50) NULL,
	[I01] [varchar](50) NULL,
	[C02] [varchar](50) NULL,
	[I02] [varchar](50) NULL,
	[C03] [varchar](50) NULL,
	[I03] [varchar](50) NULL,
	[C04] [varchar](50) NULL,
	[I04] [varchar](50) NULL,
	[C05] [varchar](50) NULL,
	[I05] [varchar](50) NULL,
	[C06] [varchar](50) NULL,
	[I06] [varchar](50) NULL,
	[C07] [varchar](50) NULL,
	[I07] [varchar](50) NULL,
	[C08] [varchar](50) NULL,
	[I08] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CargosExtensionDocente]    Script Date: 31/3/2023 18:26:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CargosExtensionDocente](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[agrupamiento] [varchar](50) NOT NULL,
	[tramo] [varchar](50) NOT NULL,
	[apertura] [varchar](50) NOT NULL,
 CONSTRAINT [PK_CargosExtensionDocente] PRIMARY KEY CLUSTERED 
(
	[agrupamiento] ASC,
	[tramo] ASC,
	[apertura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ConceptoExtensionDocente]    Script Date: 31/3/2023 18:26:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ConceptoExtensionDocente](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[conId] [int] NULL,
	[conCodigo] [varchar](50) NULL,
 CONSTRAINT [PK_ConceptoExtensionDoente] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EscuelaExtensionDocente]    Script Date: 31/3/2023 18:26:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EscuelaExtensionDocente](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[CAT] [varchar](50) NULL,
	[CUISE] [varchar](5) NULL,
	[nombre] [nvarchar](255) NULL,
	[activo] [tinyint] NULL,
	[turno] [varchar](50) NULL,
	[localidad] [varchar](50) NULL,
	[departamento] [varchar](50) NULL,
	[codigo_unico] [varchar](50) NULL,
	[numero_escuela] [varchar](50) NULL,
	[fecha_alta] [datetime] NULL,
 CONSTRAINT [PK_EscuelaExtensionDocente_Nov_Com] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[CargosExtensionDocente] ON 

INSERT [dbo].[CargosExtensionDocente] ([id], [agrupamiento], [tramo], [apertura]) VALUES (17, N'06', N'0', N'027')
INSERT [dbo].[CargosExtensionDocente] ([id], [agrupamiento], [tramo], [apertura]) VALUES (9, N'06', N'0', N'038')
INSERT [dbo].[CargosExtensionDocente] ([id], [agrupamiento], [tramo], [apertura]) VALUES (11, N'06', N'0', N'041')
SET IDENTITY_INSERT [dbo].[CargosExtensionDocente] OFF
SET IDENTITY_INSERT [dbo].[ConceptoExtensionDocente] ON 

INSERT [dbo].[ConceptoExtensionDocente] ([id], [conId], [conCodigo]) VALUES (56, 2, N'002')
INSERT [dbo].[ConceptoExtensionDocente] ([id], [conId], [conCodigo]) VALUES (57, 20, N'020')
INSERT [dbo].[ConceptoExtensionDocente] ([id], [conId], [conCodigo]) VALUES (58, 67, N'069')
SET IDENTITY_INSERT [dbo].[ConceptoExtensionDocente] OFF
SET IDENTITY_INSERT [dbo].[EscuelaExtensionDocente] ON 

INSERT [dbo].[EscuelaExtensionDocente] ([id], [CAT], [CUISE], [nombre], [activo], [turno], [localidad], [departamento], [codigo_unico], [numero_escuela], [fecha_alta]) VALUES (1497, NULL, N'00263', N'creada 31/05/06resol.2324', NULL, NULL, N'Bº  San Fernando', N'Banda', N'8601936', NULL, NULL)
INSERT [dbo].[EscuelaExtensionDocente] ([id], [CAT], [CUISE], [nombre], [activo], [turno], [localidad], [departamento], [codigo_unico], [numero_escuela], [fecha_alta]) VALUES (1498, NULL, N'01065', N'José A. Cabrera', NULL, NULL, N'Señora Pujio', N'Banda', N'8600853', NULL, NULL)
INSERT [dbo].[EscuelaExtensionDocente] ([id], [CAT], [CUISE], [nombre], [activo], [turno], [localidad], [departamento], [codigo_unico], [numero_escuela], [fecha_alta]) VALUES (1499, NULL, N'01885', N'Andres Bello', NULL, NULL, N'Sachayoj', N'Alberdi', N'8600161', NULL, NULL)
SET IDENTITY_INSERT [dbo].[EscuelaExtensionDocente] OFF
